table.list.doodle { border: none; }
table.list.doodle td.answer { vertical-align: center; text-align: center; }
tr.odd td.no { background-color: #ffc4c4; }
tr.even td.no { background-color: #ffd4d4; }
tr:hover td.no { background-color: #ff9494; }
tr.odd td.yes { background-color: #c4ffc4; }
tr.even td.yes { background-color: #d4ffd4; }
tr:hover td.yes { background-color: #94ff94; }